<header class="header">

	<div class="limit">
		<button class="header__toggle">
			<span class="-open">MENU</span>
			<span class="-close">FECHAR</span>
		</button>

		<picture class="header__image">
			<img src="https://jovemnerd.com.br/wp-content/themes/jovem-nerd-v8/assets/images/logo-jovemnerd-horizontal.png" alt="Logo Jovem Nerd Mobile">
		</picture>

		<ul class="header__menu">
			{% for item in menu.items %}
				<li class="{{ item.classes|join(' ') }} header__item">
					<a href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
                {% if item.children %}
                    <ul class="header__submenu">
                        {% for child in item.children %}
                            <li class="header__submenu--item">
                                <a href="{{ child.link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
				</li>
			{% endfor %}
		</ul>

		<button class="header__search">
			<svg class="svg search">
				<use xlink:href="{{ site.theme.uri }}/assets/images/sprite.svg#search"></use>
			</svg>
		</button>

	</div>
</header>
